@model Question


<h2>@Model.Position</h2>
<h2>@Model.Text</h2>
<h2>@Model.AnswerText</h2>
<img src="@Model.ImagePath" />
<h2>@Model.CorrectOption.OptionText</h2>


<br />
<hr />
<br />

@foreach (var m in Model.Options.OrderBy(x => x.Id))
{
    <h2>@m.Id - @m.OptionText</h2>
}